Repository FIS2425/appointment-svc, pull requests merged in 2024-11, with the labels that each got.

#6 Feature/4 add appointment endpoints
  docker-compose.yml
  openapi.yaml
  package-lock.json
  package.json
  populators/Appointment.js
  populators/runPopulator.js
  src/api.js
  src/controllers/appointmentController.js
  src/controllers/templateController.js
  src/index.js
  src/routes/appointmentRoutes.js
  src/routes/templateRoute.js
  src/schemas/Appointment.js
  src/schemas/templateSchema.js
Labels: 😖 size/l, 📦 Dependencies, 🐳 Build

#17 fix(api): add missing body validation
  src/controllers/appointmentController.js
  src/utils/validation.js
  tests/unit/controllers/appointmentController.test.js
Labels: 🧪 Tests, size/s

#18 Fix/16 bussiness logic
  src/controllers/appointmentController.js
  src/schemas/Appointment.js
  src/utils/validation.js
  tests/unit/controllers/appointmentController.test.js
Labels: 🧪 Tests, 😎 size/m

#12 Appointment tests
  docker-compose.yml
  openapi.yaml
  src/controllers/appointmentController.js
  src/routes/appointmentRoutes.js
  src/schemas/Appointment.js
  src/utils/validation.js
  tests/sample.test.js
  tests/setup/setup.js
  tests/unit/controllers/appointmentController.test.js
  tests/unit/controllers/dummy
  tests/unit/routes/dummy
  tests/unit/schemas/Appointment.test.js
  tests/unit/schemas/dummy
Labels: 🧪 Tests, 😖 size/l, 🐳 Build

#26 Fix/13 implement subscriber
  .env.example
  docker-compose.yml
  package-lock.json
  src/api.js
  src/config/index.js
  src/config/rabbitmq.js
  src/config/workshiftSync.js
  src/schemas/Appointment.js
  src/schemas/Workshift.js
  tests/unit/controllers/appointmentController.test.js
  tests/unit/schemas/Appointment.test.js
  tests/unit/utils/dummy
  tests/unit/utils/testData.js
Labels: 🧪 Tests, ⚙️ Configuration, 📦 Dependencies, 😎 size/m, 🐳 Build

#42 feat(deploy): added kubernetes config files
  .gitignore
  docker-compose.yml
  kubernetes/appointment-deployment.yaml
  kubernetes/appointment-service.yaml
  kubernetes/dragonfly-data-persistentvolumeclaim.yaml
  kubernetes/dragonfly-deployment.yaml
  kubernetes/dragonfly-service.yaml
  kubernetes/mongo-data-appointments-persistentvolumeclaim.yaml
  kubernetes/mongodb-deployment.yaml
  kubernetes/mongodb-service.yaml
  kubernetes/rabbitmq-deployment.yaml
  kubernetes/rabbitmq-service.yaml
  openapi.yaml
  package.json
Labels: 🐳 Dockerize, ⚙️ Configuration, 📦 Dependencies, 😎 size/m, 🐳 Build

#44 chore: added request-id to logs
  .github/renovate.json
  .github/workflows/api-doc.yml
  .github/workflows/docker-deploy.yml
  package-lock.json
  package.json
  src/controllers/appointmentController.js
  src/middleware/verifyAuth.js
  src/utils/kafkaTransport.js
Labels: 📦 Dependencies, 🚀 CI/CD, 😎 size/m
